.MuiDataGrid-columnHeaderWrapper {
  background-color: #0984e1;
  color: white;
  font-weight: 700;
}
.MuiDataGrid-cell.MuiDataGrid-cell--textLeft {
  color: blueviolet;
}
button.contact-us-form-btn {
  margin-left: 10px;
  margin-top: 5px;
}
.addButton {
  display: flex;
  float: right !important;
  margin-top: 50px;
}
button.btn.btn-primary.addrole {
  background: linear-gradient(60deg, #0066ff, #ff99ff) !important;
  border: none !important;
}
button.btn.btn-primary.add {
  background: linear-gradient(60deg, #0066ff, #ff99ff);
  border: none;
}
